/* .col-header {
	padding: 6px 0;
	border-bottom: 1px solid black;
}

.grid-item,
.row-label {
	background: linear-gradient(to bottom, #f8f8f8 50%, #ffffff 50%);
	background-size: 100% 40px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
} */

.today.col-header,
.today.grid-item {
	background: rgba(66, 165, 245, 0.1);
}

.today.col-header {
	border-bottom: 2px solid #42a5f5;
}

.today.grid-item {
	border-left: 2px solid #42a5f5;
	border-right: 2px solid #42a5f5;
}

.today.grid-item.last-row-item {
	border-bottom: 2px solid #42a5f5;
}
